<div class="login-page">
  <!-- Start body-content -->
  <div class="container">
      <div class="form-content">
          <form action="" method="post">

              <div class="title_form-content text-center mt-20 f-b">
                  <h4 class="f-b">نسيت كلمة المرور</h4>
                  <div class="grey-color">
                      <span><a href="">تسجيل الدخول</a></span>
                      <span>/</span>
                      <span class="main-color">نسيت كلمة المرور</span>
                  </div>
              </div>
              <div class="form-group">
                  <label>
                      رقم الجوال
                  </label>
                  <input type="number" name="phone" class="form-control" placeholder="05XXXXXXXX">
                  <div class="mt-2 mb-2" style="float: left;">

                  </div>
              </div>
              <button class="btn-main form-group" type="submit">تأكيد</button>
          </form>
      </div>
  </div>
</div>
