<div class="body-content">
  <div class="owl-index owl-carousel owl-theme">

    <a href="" target="_blank">
      <div class="item "><img src="assets/mohameek.net/imgs/alejandro-escamilla-xII7efH1G6o-unsplash.jpg">
        <div class="item-abs">
          <div class="info_item_owl f-b">
            <div>محاميك يغنيك </div>
            <!-- <h1>slider title</h1> -->
            <p class="font-15" style="color: #cec5c5">
              منصة متخصصة تقدم لك الخدمات القانونيةبشكل أسهل وأسرع من خلال نخبة من المحاميين والخبراء المرخصين
            </p>
          </div>
        </div>
      </div>
    </a>

  </div>
</div>
