<div class="container">
  <div class="img-container"  *ngFor="let i of sliderArray; let select = index;"
       >
    <img src="{{i.img}}" alt="{{i.alt}}" >
  </div>

  <!--</div>-->
  <div >
    <div class="text-container">
      <div class="page-text" *ngFor="let i of sliderArray;let select = index;" >
        <h3>{{i.text}}</h3>
      </div>
    </div>
  </div>

</div>

<div class="slider">
  <div class="slide-button-parent-container"  *ngFor="let i of sliderArray; let x =index" (click)="selected(x)" (keypress)="keySelected(x)" >
     <div class="select-box">
      <div class="slide-button" >
      </div>
     </div>
  </div>
</div>
