<footer class="sec-background">

  <div class="container d-block">

    <div class="top_footer sec-padd">

      <div class="row footrow" style="margin-right: 50px">

        <div class="col-md-3">

          <div>

            <h6 class="t_l_footer">اشترك معنا</h6>

            <p class="text-color mb-10">اشترك في نشرتنا الاخبارية</p>
            <form action="" method="post">

              <div class="form-group d-flex">

                <button type="submit" class="btn_send_nashra">
                  <mat-icon>send</mat-icon>
                </button>
                <input type="email" name="email" class="form-control" placeholder="البريد الإلكتروني">

              </div>
            </form>

            <!-- <ul class="d-flex social_footer">

              <li><a href="" target="_blank">
                  <i class="fa fa-youtube-play"></i>
                </a>
              </li>

              <li>
                <a href="" target="_blank">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>

              <li>
                <a href="" target="_blank">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>

              <li>
                <a href="" target="_blank">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
            </ul> -->

          </div>

        </div>

        <div class="col-md-2">
          <div class="link_footer">

            <h6 class="t_l_footer">أحدث المدونات</h6>

            <ul>
              <li>
                <a href="">المحكمة الإدارية السعودية</a>
              </li>

              <li>
                <a href="">الغبن في الفقه الإسلامي</a>
              </li>

              <li>
                <a href="">اقسام القضايا الجزائية</a>
              </li>

              <li>
                <a href="">القضايا الجنائية في المملكة العربية السعودية</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-3">

          <div class="link_footer call_us_footer">

            <h6 class="t_l_footer">اتصل بنا</h6>
            <ul>
              <li>
                <mat-icon> place</mat-icon>
                <a href="" target="_blank"> الرياض - المملكة السعودية</a>
              </li>

              <li>
                <mat-icon> phone</mat-icon>
                <a href="" target="_blank"> 966538578209</a>
              </li>

              <li>
                <mat-icon> email</mat-icon>
                <a href="" target="_blank"> info@mohameek.net</a>
              </li>

              <li>
                <mat-icon>assignment</mat-icon>
                <a href="" target="_blank"> الشروط و الاحكام</a>
              </li>

            </ul>

          </div>

        </div>

        <div class="col-md-3">

          <div class="link_footer">

            <p>حقوق الملكية الفكرية حصرية لشركة محاميك للخدمات التجارية عضو مجموعة شركات العثيم المتحدة
            </p>

            <img style="width: 216px;border: 1px solid #827a7a;padding: 5px;margin: 3px 0;"
              src="/assets/mohameek.net/imgs/mohameek QR .jpeg">

          </div>

        </div>

      </div>

    </div>


    <div class="under_footer pb-20 main-color text-center f-b">

    </div>

  </div>

</footer>
